body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;
	background-color: #34495E; /* Dark Blue-Grey */
}
/* Start of Global Nav related CSS */
header {
	position: fixed;
	top:0;
	margin: auto;
	left: 0;
	right: 0;
	width: auto;
	z-index: 1000;
}

header ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #6699CC; /* light grey blue */
	margin-bottom: 4em;
}
header li {
	float: left;
	max-width: 16.66%;
}

header li a {
	display: block;
	color: white;
	text-align: center;
	padding: 1em 1.2em;
	text-decoration: none;
	font-weight: bold;
}

header li a:hover:not(.active) {
	background-color: #111; /* Black */
}

.active {
	background-color: #2121E6; /* Blue */
}

/* END of Global Nav related CSS */

/*Start of Table CSS */
table {
	table-layout: fixed;
	width: 90%;
	border-collapse: collapse;
	text-align: center;
	margin-bottom: 1em;
}
table td {
	border: solid 2px #F5F5F5;
	max-width: 33%;
	word-wrap: break-word;
}

table td.edit {
	max-width: 10%;
}

table td.delete {
	max-width: 10%;
}

table td.notes {
	max-width: 70%;
}
